<md-toolbar class="navbar-fixed-top"
            md-theme="grey-theme"
            ng-controller="navbarController as ctrl">
    <div class="md-toolbar-tools">

        <!--<md-button class="mdi-icon-button" aria-label="Back"-->
                   <!--ng-click="ctrl.goBack()">-->
            <!--<md-tooltip>Back</md-tooltip>-->
            <!--<i class="mdi mdi-arrow-left-thick mdi-24px"></i>-->
        <!--</md-button>-->


        <h2 flex md-truncate>
            <!--<span ng-click="ctrl.goToHome()">Ryze Up</span>-->
            <img class="navbar-logo"
                 src="/assets/logos/RyzeUp-logo-noback.png">
            <!--<md-tooltip>Home</md-tooltip>-->
            </img>
        </h2>

        <p style="font-weight: 200; margin-right: 10px">
            {{ctrl.user.firstName.toUpperCase()}}
        </p>

        <div class="profile-image" ng-click="ctrl.profileClick()"
             ng-show="ctrl.user">
            <md-tooltip>Profile</md-tooltip>
            <img class="profile-avatar"
                 src="{{ctrl.userImgUrl}}">
        </div>

        <md-button class="mdi-icon-button" aria-label="Administer"
                   ng-show="ctrl.isAdmin"
                   ng-click="ctrl.goToAdmin()">
            <md-tooltip>Administer</md-tooltip>
            <i class="mdi mdi-shield-half-full mdi-24px"></i>
        </md-button>

        <md-button class="mdi-icon-button" aria-label="Members"
                   ng-click="ctrl.goToMembers()">
            <md-tooltip>Congress Members</md-tooltip>
            <i class="mdi mdi-account-multiple mdi-24px"></i>
        </md-button>

        <md-button class="mdi-icon-button" aria-label="Search"
                   ng-click="ctrl.goToSearch()">
            <md-tooltip>Search</md-tooltip>
            <i class="mdi mdi-magnify mdi-24px"></i>
        </md-button>

        <md-button class="mdi-icon-button" aria-label="Logout"
                   ng-show="ctrl.user"
                   ng-click="ctrl.logoutClick()">
            <md-tooltip>Logout</md-tooltip>
            <i class="mdi mdi-dots-vertical mdi-24px"></i>
        </md-button>

        <md-button class="mdi-icon-button" aria-label="Login"
                   ng-show="!ctrl.user"
                   ng-click="ctrl.goToLogin()">
            <md-tooltip>Login</md-tooltip>
            <i class="mdi mdi-login mdi-24px"></i>
        </md-button>

    </div>
</md-toolbar>
<div style="margin-top: 56px;"></div>