.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #FAFAFA
}

.background-image {
    height: 100%;
    position: absolute;
    background-position: center;
}

.login-card {
    margin: auto;
}

.md-button {
    min-width: 10px;
}

.D:hover {
    background: #BBDEFB;
    opacity: 0.85;
}

.R:hover {
    background: #FFCDD2;
    opacity: 0.85;
}

.I:hover {
    background: #ffffa8;
    opacity: 0.85;
}

md-card md-card-title {
    padding-top: 5px;
}

md-card md-card-title + md-card-content {
    padding-bottom: 0px;
}

md-card md-card-title md-card-title-text:only-child .md-subhead {
    padding-top: 0px;
}

md-card md-card-header md-card-avatar .md-user-avatar {
    object-fit: cover;
    width: 40px;
    height: 40px;
}

.profile-avatar {
    height: 40px;
    border-radius: 50%;
}

.profile-image {
    height: 40px;
}

.navbar-fixed-top {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

#vertical-container {
    height: 200px;
    width: 100%;
}

.repeated-item-vertical {
    /*border-bottom: 1px solid #ddd;*/
    /*box-sizing: border-box;*/
    height: 400px;
    /*padding-top: 10px;*/
}

.rep-details {
    margin-left: 40px;
}

.md-card-image {
    max-width: 100%;
}

.rep-detail-titles {
    min-width: 208px;
}

.admin-user-panel:hover {
    background: rgba(122, 122, 122, 0.4);
    opacity: 0.85;
}

.post-text {
    padding-bottom: 10px;
    margin-bottom: 5px;
}