<ru-navbar></ru-navbar>

<md-content>
    <md-card>
        <md-card-header>
            <div layout="row" flex="100">
                <md-card-header-text>
                    <span class="md-title">{{model.post.title}}</span>
                    <span class="md-subhead">{{model.post._author.name}}</span>
                </md-card-header-text>
                <md-button ng-click="model.followPost(post._id)"
                           aria-label="follow-post-button">
                    <i class="mdi mdi-bookmark-plus"></i>
                </md-button>
            </div>
        </md-card-header>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{model.post.bill.title}}</span>
                <span class="md-subhead">{{model.post.bill.summary_short}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p class="post-text">
                {{model.post.text}}
            </p>
        </md-card-content>
    </md-card>
</md-content>

<md-content>
    <md-list>
        <p class="md-display-1"
           flex-offset="15">Comments: {{model.comments.length}}</p>
        <md-list-item ng-repeat="comment in model.comments | limitTo:15">
            <md-card flex="70"
                     flex-offset="15">
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">{{comment.author.name}}</span>
                        <span class="md-subhead">{{comment.dateCreated}}</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <p>
                        {{comment.text}}
                    </p>
                </md-card-content>
            </md-card>
        </md-list-item>
    </md-list>
</md-content>