<md-content class="md-padding"
            flex-gt-sm="70" flex-offset-gt-sm="15">
    <h1 class="md-display-2">Posts</h1>
    <md-list>
        <md-list-item ng-repeat="post in model.posts | limitTo:15">
            <md-card ng-click="model.goToDetailsPage(rep.id)">
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">{{post.title}}</span>
                        <span class="md-subhead">{{post.author.name}}</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{model.getBillById(post.billId).title}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        {{model.trunc(post.text)}}
                    </p>
                </md-card-content>
            </md-card>
        </md-list-item>
    </md-list>
</md-content>