<md-content>
    <md-card ng-click="model.goToDetailsPage(rep.id)">
        <md-card-header>
            <div layout="row">
                <md-card-header-text flex="65">
                    <span class="md-title">{{post.title}}</span>
                    <span class="md-subhead">{{post._author.name}}</span>
                </md-card-header-text>
                <md-button ng-click="model.followPost(post._id)"
                           aria-label="follow-post-button">
                    <i class="mdi mdi-bookmark-plus"></i>
                </md-button>
            </div>
        </md-card-header>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{post.bill.title}}</span>
                <span class="md-subhead">{{post.bill.summary_short}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                {{post.text}}
            </p>
        </md-card-content>
    </md-card>
</md-content>