<ru-navbar model="model"></ru-navbar>

<md-content flex-gt-sm="70"
            flex-offset-gt-sm="15"
            style="margin-top: 60px" layout-padding>

    <md-card layout-padding>
        <form name="loginForm" class="row">
            <md-input-container class="md-icon-float md-block">
                <md-icon md-font-set="material-icons" class="location">place</md-icon>
                <label>Search By Location</label>
                <input ng-model="searchText" name="search" type="text"
                       placeholder="'Purple St, Springfield MA' or 'Pennsylvania'">
                <div ng-messages="loginForm.email.$error" multiple md-auto-hide="false">
                    <div ng-message="required">You must enter a password.</div>
                    <div ng-message="pattern">
                        Must be a valid email address
                    </div>
                </div>
            </md-input-container>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" aria-label="Search"
                           id="submit" flex="30"
                           ng-click="model.search(searchText)" type="submit">
                    <i flex hide-gt-xs class="mdi mdi-magnify mdi-24px"></i>
                    <span flex hide-xs>Search</span>
                </md-button>
            </md-card-actions>
        </form>

    </md-card>

    <md-list ng-show="model.members">
        <md-list-item ng-repeat="rep in model.members">
            <representative-item model="model" representative="rep"
                                 flex="100"></representative-item>
        </md-list-item>
    </md-list>

    <div layout="column" layout-align="center center" ng-show="model.loading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

</md-content>