<ru-navbar model="model"></ru-navbar>

<md-tabs style="margin-top: 48px;"
         md-dynamic-height
         md-border-bottom>
    <md-tab label="users">

        <section>
            <md-list layout-padding>
                <md-list-item class="md-3-line"
                              ng-repeat="user in model.users">
                    <div layout="row"
                         layout-align="start center">
                        <div>
                            <img ng-if="user.picture.url.length > 0"
                                 ng-src="{{user.picture.url}}"
                                 class="md-avatar"
                                 alt="user picture">
                            <img ng-if="user.picture.url.length == 0"
                                 class="md-avatar mdi-account-circle"
                                 alt="user picture">
                            <div class="md-list-item-text">
                                <h3>{{user.email}}</h3>
                                <h4>{{user.firstName}} {{user.lastName}}</h4>
                                <p>
                                    Created: {{user.dateCreated}}
                                </p>
                            </div>
                        </div>
                        <div style="min-height: 18px;">
                            <i ng-click="model.removeUser({{user}})"
                               class="mdi mdi-account-remove"></i>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </section>

    </md-tab>
</md-tabs>