<ru-navbar model="model"></ru-navbar>

<md-tabs style="margin-top: 48px;" md-dynamic-height md-border-bottom>

    <md-tab label="users">
        <md-content class="md-padding"
                    flex-gt-sm="70"
                    flex-offset-gt-sm="15">
            <h1 class="md-display-2">Users</h1>
            <md-list>
                <md-list-item ng-repeat="user in model.users | limitTo:15">
                    <div>
                        {{user}}
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-tab>
</md-tabs>