<md-content layout-align="center center" layout="row">
    <div layout="column" flex="nogrow" style="max-width: 483px;">
        <div hide show-gt-xs style="height: 150px"></div>

        <img class="img-responsive center-block login-card"
             style="margin-bottom: 20px;"
             src="/assets/logos/RYZE-UP-logo-quote.png">

        <md-card md-whiteframe="5" md-colors="{ background: 'deep-orange-500' }"
             layout-padding style="margin-bottom: 20px"
             ng-show="model.message">
            <span flex="100">{{model.message}}</span></md-card>

        <form name="loginForm" layout="column">
            <md-input-container class="md-icon-float md-block form-input">
                <!-- Use floating label instead of placeholder -->
                <label>Email</label>
                <md-icon md-font-set="material-icons" class="name">mail</md-icon>
                <input required ng-pattern="/^.+@.+\..+$/"
                       ng-model="model.user.email" name="email" type="text">
                <div ng-messages="loginForm.email.$error" multiple md-auto-hide="false">
                    <div ng-message="required">You must enter an email.</div>
                    <div ng-message="pattern">
                        Must be a valid email address
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block form-input">
                <!-- Use floating label instead of placeholder -->
                <label>Password</label>
                <md-icon md-font-set="material-icons" class="password">lock</md-icon>
                <input required
                       ng-model="model.user.password" name="password" type="password">
                <div ng-messages="loginForm.password.$error">
                    <div ng-message="required">You must enter a password.</div>
                </div>
            </md-input-container>

            <md-checkbox ng-model="checkbox"
                         aria-label="Remember Me" style="margin-left: 10px">
                Remember Me
            </md-checkbox>

            <md-button class="md-raised md-primary"
                       ng-click="model.login()" type="submit">
                Login</md-button>

            <md-button class="md-raised md-primary"
                       md-theme="red-theme"
                       ng-href="#!/register">Sign Up</md-button>
        </form>

        <div layout="column" layout-align="center center">
            <p>Or sign in with:
                <a ng-href="/auth/v1/facebook">
                    <i class="mdi mdi-facebook-box mdi-36px"
                       style="color: #3b5998"
                    ><md-tooltip>Facebook</md-tooltip></i></a>
                <a  ng-href="/auth/v1/google">
                    <i class="mdi mdi-twitter mdi-36px"
                       style="color: #00aced"
                    ></i><md-tooltip>Twitter</md-tooltip></a>
                <a ng-href="/auth/v1/google">
                    <img src="/assets/other/google-g.svg"
                         style="width: 30px;
                         margin-bottom: -1px;
                         cursor: pointer;"
                    /><md-tooltip>Google</md-tooltip></a>
            </p>
            <p>No Thanks! <a href="#!/home">Sign in later</a></p>
        </div>

    </div>
</md-content>