<md-content layout="row">
    <div layout flex-gt-xs="60" flex-offset-gt-xs="20">

        <md-card layout="column" style="padding: 30px; margin-top: 150px">
            <img class="img-responsive center-block login-card"
                 style="margin-bottom: 20px;"
                 src="/assets/logos/RyzeUp-logo-noback.png">


            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Name</label>
                <md-icon md-font-set="material-icons" class="name">account_circle</md-icon>
                <input ng-model="user.name" type="text">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Password</label>
                <md-icon md-font-set="material-icons" class="password">lock</md-icon>
                <input ng-model="user.password" type="text">
            </md-input-container>

            <md-checkbox ng-model="checkbox" aria-label="Remember Me">
                Remember Me
            </md-checkbox>
            <md-button class="md-raised md-primary" ng-href="#!/">Login</md-button>


            <div layout="row" layout-align="center center">
                <p>Don't have an account? <a href="#!/register">Sign Up</a></p>
            </div>

        </md-card>

    </div>
</md-content>