<ru-navbar model="model"></ru-navbar>

<md-content style="margin-top: 60px;">

    <md-card flex-gt-sm="70" flex-offset-gt-sm="15" layout-padding>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline"><h2>Profile</h2></span>
            </md-card-title-text>
        </md-card-title>

        <form name="updateForm" layout="column">

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Update Info</span>
                </md-card-title-text>
            </md-card-title>

            <div layout="row">
                <md-input-container class="md-icon-float md-block" flex="40">
                    <label>First Name</label>
                    <md-icon md-font-set="material-icons" class="name">person</md-icon>
                    <input ng-model="model.user.firstName"
                           required name="firstName" type="text">
                    <div ng-messages="registerForm.firstName.$error">
                        <div ng-message="required">First Name required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block" flex="20">
                    <label>Middle Name</label>
                    <input ng-model="model.user.middleName" type="text">
                </md-input-container>
                <md-input-container class="md-icon-float md-block" flex="40">
                    <label>Last Name</label>
                    <input ng-model="model.user.lastName"
                           required name="lastName" type="text">
                    <div ng-messages="registerForm.firstName.$error" ng-if="model.butts">
                        <div ng-message="required">Last Name required.</div>
                    </div>
                </md-input-container>
            </div>

            <md-input-container class="md-icon-float md-block" flex="100">
                <label>Email</label>
                <md-icon md-font-set="material-icons" class="name">mail</md-icon>
                <input ng-model="model.user.email"
                       required ng-pattern="/^.+@.+\..+$/" name="email" type="text">
                <div ng-messages="registerForm.email.$error" multiple md-auto-hide="false">
                    <div ng-message="required">Email required.</div>
                    <div ng-message="pattern">Must be a valid email address</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Address</label>
                <input ng-model="user.address">
            </md-input-container>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>City</label>
                    <input ng-model="user.city">
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>State</label>
                    <md-select ng-model="user.state">
                        <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                            {{state.abbrev}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Postal Code</label>
                    <input name="postalCode" ng-model="user.postalCode" placeholder="Zip Code"
                           ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                    <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                        <div ng-message="pattern" class="my-message">Must supply valid zip code.</div>
                        <div ng-message="md-maxlength" class="my-message">Zip is too long</div>
                    </div>
                </md-input-container>
            </div>


            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-warn" ng-click="model.unregister()">Unregister</md-button>
                <md-button class="md-primary" ng-click="model.updateProfile()">Update Profile</md-button>
            </md-card-actions>
        </form>

        <form name="updatePassword" layout="column">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Change Password</span>
                </md-card-title-text>
            </md-card-title>

            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>New Password</label>
                <md-icon md-font-set="material-icons">lock</md-icon>
                <input ng-model="model.newPassword"
                       required min="8" name="newPassword" type="password">
                <div ng-messages="registerForm.newPassword.$error">
                    <div ng-message="required">Password required.</div>
                    <div ng-message="min">Must be greater than 8 characters</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Retype New Password</label>
                <md-icon md-font-set="material-icons">lock</md-icon>
                <input ng-model="model.newPassword2"
                       required compare-to="model.newPassword2" name="newPassword2" type="password">
                <div ng-messages="registerForm.newPassword2.$error" multiple md-auto-hide="false">
                    <div ng-message="required">Password required.</div>
                    <div ng-message="compareTo">Passwords must match</div>
                </div>
            </md-input-container>


            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-warn" ng-click="model.changePassword()">Change Password</md-button>
            </md-card-actions>
        </form>
    </md-card>
</md-content>