<md-content layout="row">
    <div layout flex-gt-sm="60" flex-offset-gt-sm="20">

        <md-card layout="column" style="padding: 30px; margin-top: 150px">
            <img class="img-responsive center-block"
                 style="margin-bottom: 20px;"
                 src="/assets/logos/RyzeUp-logo-noback.png">


            <div layout="row">
                <md-input-container class="md-icon-float md-block" flex="40">
                    <label>First Name</label>
                    <md-icon md-font-set="material-icons" class="name">person</md-icon>
                    <input ng-model="model.user.firstName" type="text">
                </md-input-container>
                <md-input-container class="md-icon-float md-block" flex="20">
                    <label>Middle Name</label>
                    <input ng-model="model.user.middleName" type="text">
                </md-input-container>
                <md-input-container class="md-icon-float md-block" flex="40">
                    <label>Last Name</label>
                    <input ng-model="model.user.lastName" type="text">
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container class="md-icon-float md-block" flex="100">
                    <label>Email</label>
                    <md-icon md-font-set="material-icons" class="name">mail</md-icon>
                    <input ng-model="model.user.email" type="text">
                </md-input-container>
            </div>

            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Password</label>
                <md-icon md-font-set="material-icons" class="password">lock</md-icon>
                <input ng-model="model.user.password" type="text">
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Retype Password</label>
                <md-icon md-font-set="material-icons" class="password2">lock</md-icon>
                <input ng-model="model.user.password2" type="text">
            </md-input-container>

            <md-button class="md-raised md-primary" ng-click="model.register()">Register</md-button>
            <md-button class="md-raised md-warn" ng-href="#!/login">Cancel</md-button>


            <div layout="row" layout-align="center center">
                <p>Already have an account? <a href="#!/login">Log In</a></p>
            </div>

        </md-card>

    </div>
</md-content>