<div class="container-fluid col-sm-6 col-md-offset-3" style="margin-top: 100px;">
    <h1>Register</h1>

    <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="username" type="text" class="validate">
        <label for="username">Username</label>
    </div>

    <div class="input-field col s6">
        <i class="material-icons prefix">lock</i>
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
    </div>

    <div class="input-field col s6">
        <i class="material-icons prefix">lock</i>
        <input id="password2" type="password" class="validate">
        <label for="password2">Retype Password</label>
    </div>

    <a class="btn btn-primary btn-block"
       href="#!/profile">Register</a>

    <a class="btn btn-danger  btn-block"
       href="login.view.client.html">Cancel</a>
</div>
