<md-content ng-show="rep" ng-controller="representativeController as ctrl">
    <md-card ng-click="ctrl.goToRepDetailsPage(rep.id)"
             class="{{rep.party}}">
        <md-card-header>
            <md-card-avatar ng-click="ctrl.test()">
                <img class="md-user-avatar"
                     src="https://theunitedstates.io/images/congress/225x275/{{rep.id}}.jpg">
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{rep.first_name}} {{rep.middle_name}} {{rep.last_name}}</span>
                <span class="md-subhead" ng-hide="{{rep.party}}">{{rep.party}}, {{rep.state}}</span>
                <span class="md-subhead" ng-show="{{rep.party}}">I, {{rep.state}}</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Votes with party: {{rep.votes_with_party_pct}}%</span>
                <span class="md-subhead">
                            Missed votes: {{rep.missed_votes_pct}}% or {{rep.missed_votes}} total missed
                        </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                Next election: {{rep.next_election}}
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
            <md-button href="{{rep.contact.facebook}}"
                       ng-show="rep.contact.facebook"
                       aria-label="facebook-button">
                <i class="mdi mdi-facebook"></i>
            </md-button>
            <md-button href="{{rep.contact.twitter}}"
                       ng-show="rep.contact.twitter"
                       aria-label="twitter-button">
                <i class="mdi mdi-twitter"></i>
            </md-button>
            <md-button href="{{rep.contact.youtube}}"
                       ng-show="rep.contact.youtube"
                       aria-label="youtube-button">
                <i class="mdi mdi-youtube-play"></i>
            </md-button>
            <md-button href="{{rep.contact.url}}"
                       ng-show="rep.contact.url"
                       aria-label="url-button">
                <i class="mdi mdi-earth"></i>
            </md-button>
            <md-button href="{{rep.contact.rss}}"
                       ng-show="rep.contact.rss"
                       aria-label="rss-button">
                <i class="mdi mdi-rss"></i>
            </md-button>
            <md-button ng-show="rep.contact.phone"
                       ng-click="this.showPhone(rep.contact.phone)"
                       aria-label="phone-button">
                <i class="mdi mdi-phone"></i>
            </md-button>
        </md-card-actions>
    </md-card>
</md-content>